header{
	background-color: green;
	padding: 20px;
	text-align: center;
	color: white;
}

nav a{
	float: left;
	color: black;
	padding: 15px 200px 15px 200px;
	text-decoration: none;

}

nav a:hover{
	background-color: black;
	color: yellow;

}

nav{
	background-color: red;
	overflow: hidden;
}

footer{
	text-align: center;
}
